.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 60px; /* Kích thước hình ảnh nhỏ lại */
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px; /* Khoảng cách giữa các phần tử trong chi tiết sản phẩm */
  flex-grow: 1;
}

.cart-item-details h3 {
  font-size: 16px;
  margin: 0;
  color: #333;
  flex-grow: 1;
}

.cart-item-details p {
  font-size: 20px;
  color: #353535;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-controls button {
  padding: 3px 6px; /* Giảm kích thước dấu cộng trừ */
  font-size: 14px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 20px;
  margin-top: 20px;
}

.quantity-controls button:hover {
  background-color: #ddd;
}

.remove-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
  margin-top: 20px;
  background-color: white; /* Đặt màu nền thành trắng */
}

.remove-button:hover {
  color: rgb(255, 0, 0);
  background-color: #f0f0f0; /* Thêm màu nền khi hover */
}


.total-price {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.checkout-button {
  display: block;
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #218838;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 40px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  font-size: 14px;
  margin-top: 10px;
}

.product-card p {
  font-size: 14px;
  color: #555;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #45a049;
}
