.profile-container {
  max-width: 600px;
  margin: 50px auto 20px auto; /* Add top margin to give space between the header and the profile */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Space between the header and profile content */
}

.profile-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.update-profile-button {
  padding: 8px 16px;
  background-color: #000000; /* Màu đen */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.update-profile-button:hover {
  background-color: #333333; /* Màu xám đậm khi hover */
}

.profile-details {
  margin-bottom: 20px;
  text-align: left;
}

.info-item {
  margin: 10px 0;
}

.info-item strong {
  font-weight: bold;
}

.profile-actions {
  margin-top: 20px;
}

.action-button {
  padding: 8px 16px;
  background-color: #000000; /* Màu đen */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
}

.action-button:hover {
  background-color: #333333; /* Màu xám đậm khi hover */
}

.save-button {
  padding: 8px 16px;
  background-color: #000000; /* Màu đen */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #333333; /* Màu xám đậm khi hover */
}

.error-message {
  color: red;
  font-size: 14px;
}
