/*PRODUCT CATEGORY*/
.product-category {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  font-size: 32px; 
  text-align: center; 
  display: block; 
  width: 100%; 
  margin-top: 20px;  
  margin-bottom: 20px; 
  padding-bottom: 10px; 
  transition: color 0.3s; 
}
.product-category .underline {
  position: absolute;
  left: 45%;  
  right: 45%;  
  bottom: 0;
  height: 2px;
  background-color: black;
}
.product-category:hover {
  color: #e065c6;  
}





.menu-button {
  background-color: transparent;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  
}

.menu-button.selected,
.menu-button:hover {
  background-color: #e065c6;
  color: #fff;
}




/* Căn giữa thông báo loading và lỗi */
.loading-message, .error-message {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.loading-message p, .error-message p {
  font-size: 18px;
}

.view-more {
  text-align: center;
  margin-top: 20px;
}

/* Căn giữa sản phẩm */
.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-item h3 {
  margin: 0;
  font-size: 18px;
}

.product-item p {
  color: #555;
}




.show-more-button {
  background-color: #e065c6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #d15aaf;
}
